/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.all {
    min-height: 100%;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.navbar-default .navbar-nav .active a,  
.navbar-default .navbar-nav .active a:hover {
  color: #0C86AC;
}
.main-container {
    padding-top: 50px;
}
.main {
    padding-top: 20px;
    padding-bottom: 100px;
}
.navbar-brand span {
  font-weight: bold
}
.ua {
  color: #E5E110; 
}
.help {
    margin-top: 30px;
}
.help h1 {
  text-align: center;
}
.teaser-container {
    padding-top: 60px;
}
.helper {
    height: 50px;
    clear: both;
}
.sos {
    color: #777;
    min-height: 550px;
    position: relative;
    padding: 15px;
}
.true {
  color: red;
}
.needs {
  margin-left: 5px;
}
.join-info h4 {
  margin-bottom: 20px;
}
.footer-container {
    height: 50px;
    margin-top: -50px;
    padding-top: 15px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
}
.social {
  width: 50px;
  margin: 0 auto;
}
.question, .for , .options{
  color: #0C86AC;
}
.answer {
  color: #555;
}
.red {
  color: #d9534f;
}
/* ===============
   SOS-LOGO styles
   =============== */
.sos-logo {
    background-color: #111111; 
    padding: 67px 40px 55px 40px;
    font-size: 75px;
    font-family: 'Monoton', cursive;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
    color: red;
}
.sos-logo p {
    margin: 0; 
}
#code:hover { 
    text-shadow: 0 0 100px red,0 0 40px FireBrick,0 0 8px DarkRed; 
} 
#code span:nth-of-type(2) {
  animation: lower 10s linear infinite;
}
#code span:nth-of-type(1) {
  text-shadow: none;
  opacity:.4;
}
@keyframes upper {
  0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
    opacity:.99; text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
  }
  20%,21.999%,63%,63.999%,65%,69.999% {
    opacity:0.4; text-shadow: none; 
  }
}
@keyframes lower {
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    opacity:0.99; text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
  }
  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% { 
    opacity:0.4; text-shadow: none; 
  }
}
/* ==========================================================================
    Media Queries
    ========================================================================== */

@media only screen and (min-width: 1140px) {
    
}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 480px) {

}
